.idea/

registerr/__pycache__/

register/__pycache__/

registerr/migrations/__pycache__/

media/
**/__pycache__/

run_server.pid
run_server.log
run_server.sh

google_cloud/*
!**/.gitkeep
.env
db.sqlite3